<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> 
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    
  <head>
    <link rel="stylesheet" href="style.css">
    
    <title>Home</title>
</head>
<body background="back.png">

<div>
      <nav class="navbar navbar-expand-lg bg-body-tertiary "data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/home}">Booker</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/restaurant/getAll}">Restaurants</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>

            </ul>
            <a th:href="@{/home}" type="button" class="btn btn-outline-success"><i class="bi bi-box-arrow-in-right"></i> Anmelden</a>
          </div>
        </div>
      </nav>

    <div class="container text-center">
    <div class="row justify-content-md-center">
        <table class="table">
          <thead class="table-dark">
            <tr class="text-center">
              <th>Seat</th>
              <th>Description</th>
              <th class="col-sm-2" >Availability</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">

          <tr th:each="desk:${desks}" class="text-center">
              <td th:text="${desk.seat}"></td>
              <td th:text="${desk.description}"></td>
              <td th:style="${desk.isRes} == true ? 'background: red' : 'background: green'" class="col-sm-2" th:if="${desk.isRes == true}">reserved</td>
              <td th:style="${desk.isRes} == true ? 'background: red' : 'background: green'" class="col-sm-2" th:if="${desk.isRes == false}">open</td>
            </tr>

          </tbody>
        </table>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Add New Desk</button>
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <form th:action="@{/saveNewDesk/{resId}(resId=${restaurant.resId})}" method="post">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">New Desk</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
            
              <div class="mb-3">
                <label for="seat" class="col-form-label">Seat:</label>
                <input type="text" class="form-control" id="seat" name="seat">
              </div>
            
              </div>
              
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
      </form>
    </div>


    </div> 
    </div>  


    


      

</div>

        


    
</body>
</html>    